<head>
  <link rel="Stylesheet" type="text/css" href="css/jPicker-1.1.6.min.css" />
  <link rel="Stylesheet" type="text/css" href="jPicker.css" />
  <script src="jquery-1.4.4.min.js" type="text/javascript"></script>
  <script src="jpicker-1.1.6.min.js" type="text/javascript"></script>

<script type="text/javascript">
function setCpicker(){
  $('.Cpicker').jPicker(        {
    window:
    {
      expandable: true, position:{x:"right", y:"bottom"}
    } 
  });
}



  $(document).ready(
    function()
    {
      $('.Cpicker').jPicker(        {
        window:
        {
          expandable: true, position:{x:"right", y:"bottom"}
        } 
      });
    });
</script>
</head>
<body>
<form id=popform>
<table id=poptable>

<tr>
<td>Type:</td>
<td><input type=text size=20 id=arg0 readonly=readonly value=x></td>
</tr>

<tr>
<td>X:</td>
<td><input type=text size=4 id=arg1></td>
</tr>

<tr>
<td>Y:</td>
<td><input type=text size=4 id=arg2></td>
</tr>

<tr>
<td>IP Address:</td>
<td><input type=text size=20 id=arg3></td>
</tr>

<tr>
<td>Element:</td>
<td><select id=arg4>
<option value=dial>Dial</option>
<option value=toggle>Toggle</option>
</select></td>
</tr>
<tr><td colspan=2><hr></td></tr>

<tr><td><input class=Cpicker id="arg5" type="text" value="e2ddcf" /></td></tr>


</table>
</form>
</body>
</html>